/fonts
/article-files/
scratPad.php
*.old
*.new
error_log
/logs
/images/articles/

/dnd
/dndpn
landing.php
semanticTest.html
view.html
group.html
editorPage.html
editor.html


/js/bootstrap.js
/js/boostrap.min.js
/js/jquery-2.0.3.min.js
/js/jquery-3.3.1.min.js
/js/jquery-3.3.1.slim.min.js
/js/temp*
/js/svgxuse.js