Redirect /private http://www.royalflush.online
Redirect /appAjax http://www.royalflush.online
Redirect /appAPI http://www.royalflush.online
Redirect /appClass http://www.royalflush.online
Redirect /css http://www.royalflush.online
Redirect /fonts http://www.royalflush.online
Redirect /images http://www.royalflush.online
Redirect /js http://www.royalflush.online
Redirect /logs http://www.royalflush.online
Redirect /plugins http://www.royalflush.online
Redirect /services http://www.royalflush.online